<!DOCTYPE html>
<html>
<head>
    <title>{{ category_title }} Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <nav>
        <ul>
            <li><a href="{{ url_for('display_products', category='GraphicCards') }}">Graphic Cards</a></li>
            <li><a href="{{ url_for('display_products', category='MemoryRAM') }}">Memory RAM</a></li>
            <li><a href="{{ url_for('display_products', category='MotherBoards') }}">Motherboards</a></li>
            <li><a href="{{ url_for('display_products', category='Processors') }}">Processors</a></li>
        </ul>
        <i class="fas fa-shopping-cart"></i>
    </nav>
    
    <div class="container">
        <h1>{{ category_title }} Products</h1>
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            {% for product in products %}
            <tr>
                <td><img src="{{ product[3] }}" alt="{{ product[0] }} image" style="max-width: 100px;"></td>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
